.content.content-main
	#card
		.arrowmain.arrowmain-1
		.arrowmain.arrowmain-2
		.card-inner.fade
			header
				img(src=`${main.avatar.link}` width=`${main.avatar.width}` height=`${main.avatar.height}` alt="avatar")
				h1(data-translate="name") #{main.name}
				h2#signature(data-translate="signature") #{main.signature}

			ul
				each project in main.projects
					li
						a(href=`${project.href}` aria-label=`${project.text}`)
							i(class=`icon icon-${project.icon}`)
							span(data-translate=`${project.text}`) #{project.text}
	

	canvas.grid-background#gridCanvas
